html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  z-index:-1;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

#scrollContainer {
  outline: 1px solid red;
  height: 500px;
  overflow: scroll;
}

#scrollBox {
  height:2000px;
  /* background-Color: lightblue; */
}